<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

bug-130
<web-app>
string s = "hi how are you"
  <display-name>Archetype Created Web Application</display-name>
</web-app>
 
bug-120
<web-app>
int i = 10;
int j=20;
  <display-name>Archetype Created Web Application</display-name>
</web-app>

